:root {
  --primary: #fc5c7d;
  --secondary: #6a82fb;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  font-size: 1.5rem;
  position: relative;
}

.block {
  width: 500px;
  height: 550px;
  background-color: #fff;
  border-radius: 1.75rem;
  box-shadow: 0 0 3rem 3rem rgba(#000, 0.15);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  backdrop-filter: blur(3px);

  &__heading {
    font-size: 3.5rem;
    color: #333;
    font-weight: 300;
    text-align: center;
    animation: shake 2s ease-in-out infinite;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0.75rem;
  row-gap: 1.75rem;

  &__input {
    background-color: #f0f0f0;
    height: 3rem;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 2.5rem 1.5rem;
    font-size: 1.8rem;
    color: #333;
    transition: all 0.25s;

    &::-webkit-input-placeholder {
      color: #bcbcbc;
    }

    &:focus {
      box-shadow: 0 0 0.25rem 0.5rem rgba(#6a82fb, 0.5);
    }

    &--1 {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &--2 {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &--3 {
      grid-column: 1 / -1;
    }

    &--4 {
      grid-column: 1 / span 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: #f0f0f0;
        width: 100%;
        padding: 2rem;
        border-radius: 10px;
      }
    }
  }
}

.left {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.right {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.btn {
  font-size: inherit;
  border: none;
  outline: none;
  background-color: #6a82fb;
  color: #f0f0f0;
  grid-column: 1 / -1;
  border-radius: 100px;
  padding: 1.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    letter-spacing: 1.5px;
  }
}

.input--last {
  grid-column: 1 / -1;
  text-align: center;

  a {
    color: var(--secondary);
    text-decoration: none;
  }
}

::selection {
  background-color: var(--primary);
  color: #f0f0f0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.msg {
  font-size: 2.5rem;
  background-color: #fff;
  width: 40rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 3rem 3rem rgba(#000, 0.1);
}

.hidden {
  display: none;
}

@keyframes shake {
  0% {
    transform: translateX(-15px);
  }

  50% {
    border-bottom-right-radius: 0;
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-15px);
  }
}
